.menu-wrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
    z-index: 2;
}
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1rem;
    background: var(--primary-color);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;

}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: "";
    position: absolute;
    top: -10px;
    z-index: 1;
    width: 100%;
    height: 2px;
    background: inherit;

}
.menu-wrap .hamburger > div:after{
    top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .menu-wrap .menu > div{
     background: var(--overlay-color);
     width: 200vw;
     height: 200vh;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all 0.4s ease;
     transform: scale(0);
 }

 .menu-wrap .menu > div > div{
     text-align: center;
     max-width: 90vw;
     max-height: 100vh;
     opacity: 0;
     transition: opacity 0.4s ease;

 }

 ul li{
     list-style: none;
     color: #fff;
     font-size: 1.5rem;
     padding: 1rem;
 }

 ul li a{
     color: inherit;
     text-decoration: none;

 }

 ul li a:hover{
     color: var(--secondary-color);
 }

 .menu-wrap .toggler:checked ~ .menu {

     visibility: visible;

 }
 .menu-wrap .toggler:checked ~ .menu > div{
     transform: scale(1);
     transition-duration: var(--menu-speed);
     
 }